<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="compliance360.sync"
             type="Compliance360.EmployeeSync.Library.Configuration.SyncConfigurationSection, Compliance360.EmployeeSync.Library"
             allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <compliance360.sync>
    <jobs>
      <job name="All Users" 
           type="ActiveDirectory" 
           domain="" 
           ou="" 
           integrationKey=""
           ldapQuery="(&amp;(objectClass=user)(objectCategory=person)(!msExchResourceMetaData=ResourceType:Room))"
           removeGroupPrefix="" 
           intervalSeconds="10"
           errorThreshold="10"
           errorNotificationHost=""
           errorNotificationPort="587"
           errorNotificationUseSsl="true"
           errorNotificationUserName=""
           errorNotificationPassword=""
           errorNotificationDomain=""
           errorNotificationEmailFrom=""
           errorNotificationEmailTo=""
           errorNotificationSubject="LDAP Sync error threshold exceeded">
        <attributes>
          <attribute name="domain" includeInQuery="false" filter="DomainAttributeFilter" />
          <attribute name="sAMAccountName" />
          <attribute name="manager" />
          <attribute name="department" />
          <attribute name="title" />
          <attribute name="userPrincipalName" />
          <attribute name="distinguishedName" />
          <attribute name="whenCreated" />
          <attribute name="whenChanged" />
          <attribute name="sn" />
          <attribute name="givenName" />
          <attribute name="mail" />
          <attribute name="isDeleted" />
          <attribute name="userAccountControl" filter="UacAttributeFilter" alias="isActive" />
          <attribute name="memberOf" filter="GroupsAttributeFilter" />
        </attributes>
        <!-- allowedGroups>
          <group name="" />
        </-->
        <outputStreams>
          <stream name="Logger" />
          <stream name="Compliance360ApiV2">
            <settings>
              <setting name="baseAddress" value="" />
              <setting name="organization" value="" />
              <setting name="integrationKey" value="" />            
              <setting name="culture" value="en-US" />
              <setting name="loginIntervalMinutes" value="20" />
            </settings>
            <mapping>
              <map from="Main Division" to="PrimaryDivision" />
              <map from="{domain}\{sAMAccountName}" to="EmployeeNum" />
              <map from="{domain}\{sAMAccountName}" to="UserName" />
              <map from="{givenName}" to="FirstName" />
              <map from="{sn}" to="LastName" />
              <map from="{mail}" to="Email" />
              <map from="{title}" to="JobTitleId" />
              <map from="{department}" to="Department" />
              <map from="{memberOf}" to="Groups" />
              <map from="{manager}" to="Relationships" type="Manager" />
            </mapping>
          </stream>
        </outputStreams>
      </job>
    </jobs>
  </compliance360.sync>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>