<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net47" />
  <package id="NLog" version="4.4.12" targetFramework="net47" />
  <package id="Rebex.Common" version="2.5.6461" targetFramework="net47" />
  <package id="Rebex.Networking" version="3.5.6461" targetFramework="net47" />
  <package id="Rebex.Sftp" version="3.0.6461" targetFramework="net47" />
  <package id="StructureMap" version="4.5.2" targetFramework="net47" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net47" />
</packages>