<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section
      name="compliance360.sync"
      type="Compliance360.EmployeeSync.Library.Configuration.SyncConfigurationSection, Compliance360.EmployeeSync.Library"
      allowLocation="true"
      allowDefinition="Everywhere" />
  </configSections>
  <compliance360.sync>
    <jobs>
      <job
        name="All Users"
        type="ActiveDirectory"
        domain=""
        ou=""
        userName=""
        password=""
        ldapQuery="(&amp;(objectClass=user)(objectCategory=person)(!msExchResourceMetaData=ResourceType:Room))"
        removeGroupPrefix=""
        intervalSeconds="43200">
        <attributes>
          <attribute name="domain" includeInQuery="false" filter="DomainAttributeFilter" />
          <attribute name="sAMAccountName" />
          <attribute name="manager" />
          <attribute name="department" />
          <attribute name="title" />
          <attribute name="userPrincipalName" />
          <attribute name="distinguishedName" />
          <attribute name="whenCreated" />
          <attribute name="whenChanged" />
          <attribute name="sn" />
          <attribute name="givenName" />
          <attribute name="mail" />
          <attribute name="isDeleted" />
          <attribute name="userAccountControl" filter="UacAttributeFilter" alias="isActive" />
          <attribute name="memberOf" filter="GroupsAttributeFilter" />
        </attributes>
        <allowedGroups>
          <!-- group name="" / -->
        </allowedGroups>
        <outputStreams>
          <!-- stream name="Csv">
            <settings>
              <setting name="path" value="C:\temp\ad-output.csv" />
            </settings>
          </-->
          <!-- stream name="Logger" / -->
          <!-- stream name="Compliance360ApiV2">
            <settings>
              <setting name="baseAddress" value="http://localhost" />
              <setting name="organization" value="" />
              <setting name="username" value="" />
              <setting name="password" value="" />
              <setting name="loginIntervalMinutes" value="20" />
            </settings>
            <mapping>
              <map from="Main Division" to="PrimaryDivision"/>
              <map from="{domain}\{sAMAccountName}" to="EmployeeNum"/>
              <map from="{domain}\{sAMAccountName}" to="UserName"/>
              <map from="{givenName}" to="FirstName"/>
              <map from="{sn}" to="LastName"/>
              <map from="{mail}" to="Email"/>
              <map from="{title}" to="JobTitleId"/>
              <map from="{department}" to="Department"/>
              <map from="{memberOf}" to="Groups"/>
            </mapping>
          </ -->
        </outputStreams>
      </job>
    </jobs>
  </compliance360.sync>
</configuration>